@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization
@using Newtonsoft.Json
@model Employes.Web.Models.EditModel
<h2>Изменение информации</h2>
<br />
<form method="post" action="" class="needs-validation" id="validation" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Фамилия <sup class="required">*</sup></label>
            <input type="text" class="form-control" placeholder="Имя пользователя" aria-label="Фамилия" id="LastName" data-bind="value: lastName" required>
            <div class="invalid-feedback">
                Пожалуйста введите фамилию.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Имя <sup class="required">*</sup></label>
            <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" id="FirstName" data-bind="value: firstName" required>
            <div class="invalid-feedback">
                Пожалуйста введите имя.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustomAge">Возраст <sup class="required">*</sup></label>
            <input type="text" class="form-control" placeholder="Возраст" aria-label="Возраст" id="Age" data-bind="value: age" required>
            <div class="invalid-feedback">
                Пожалуйста введите возраст.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Пол <sup class="required">*</sup></label>
            <select class="custom-select" id="Gender">
                <option value="1" selected>Мужской</option>
                <option value="2">Женский</option>
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label>Отдел <sup class="required">*</sup></label>
            <select class="custom-select" id="Department" data-bind="options: departments, selectedOptions: department">
            </select>
        </div>
            <div class="col-md-4 mb-3">
                <label>Язык <sup class="required">*</sup></label>
            <select class="custom-select" id="SelectedLanguage" data-bind="options: languages, selectedOptions: selectedLanguage">
            </select>
            </div>
    </div>
    <div class="form-row">
        <div style="margin-left: 5px;">
            <button type="submit" class="btn btn-outline-primary">Отправить</button>
        </div>
    </div>
</form>
@section Scripts{
    @Scripts.Render("~/bundles/edit")
    <script type="text/javascript">
        var editModel = editModel(@Html.Raw(JsonConvert.SerializeObject(this.Model)));
        ko.applyBindings(editModel);
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        if (form.checkValidity() === true) {
                            var divs = document.getElementsByTagName('div');
                            for(var i = divs.length; i-- ;) {
                                var div = divs[i];
                                if(div.className === 'response') {
                                    div.style.display = 'flex';
                                }
                            }
                            event.preventDefault();
                            var request = new Object();
                            request.Id = @Model.Id;
                            request.lastName = $('#LastName').val();
                            request.firstName = $('#FirstName').val();
                            request.age = $('#Age').val();
                            request.gender = $('#Gender').val();
                            request.department = $('#Department').val();
                            request.selectedLanguage = $('#SelectedLanguage').val();

                            $.ajax({
                                url: '/Edit/UpdateInfo',
                                type: 'POST',
                                dataType: 'json',
                                data: request,
                                success: function (result) {
                                    //window.location.href = result.redirectUrl;
                                }
                            })
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}