@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization
@using Newtonsoft.Json
@model List<Employes.Web.Models.HomeModel>
<h2>Информация о сотрудниках компании</h2>
<br />

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-primary" type="button">Поиск</button>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" data-bind="textInput: searchValue" id="input">
</div>
<!-- ko if: allData().length === 0 && currentData().length === 0-->
<div style="color:red">
    Список сотрудников пуст.
</div>
<!-- /ko -->
<!-- ko if: allData().length != 0 || currentData().length != 0-->
<br />
<div class="row">
    <div class="col">
        <table class="table table-striped box table-hover">
            <thead>
                <tr>
                    <th scope="col"><p class="text-center">Фамилия</p></th>
                    <th scope="col"><p class="text-center">Имя</p></th>
                    <th scope="col"><p class="text-center">Возраст</p></th>
                    <th scope="col"><p class="text-center">Отдел</p></th>
                    <th scope="col"><p class="text-center">Удалить</p></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: currentData">
                <tr>
                    <td><p class="text-center" data-bind="text: LastName, click: $parent.showInfo"></td>
                    <td><p class="text-center" data-bind="text: FirstName, click: $parent.showInfo"></td>
                    <td><p class="text-center" data-bind="text: Age, click: $parent.showInfo"></td>
                    <td><p class="text-center" data-bind="text: Department, click: $parent.showInfo"></td>
                    <td>
                        <div class="text-center">
                            <a class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" data-bind="click: $parent.selectEmploye">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /ko -->
<!-- ko if: allData().length > 0 -->
<br />
<div>
    <button type="submit" class="btn btn-outline-primary" data-bind="click: showMore">Больше записей</button>
</div>
<!-- /ko -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение действия</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Удалить сотрудника?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-bind="click: deleteEmploye" data-dismiss="modal">Удалить</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/employeList")
    <script type="text/javascript">
     var employeListModel = employeListModel(@Html.Raw(JsonConvert.SerializeObject(this.Model)));
        ko.applyBindings(employeListModel);
    </script>
}